* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  position: relative;
  /* overflow: hidden; */
}

header {
  width: 100%;
}

.mainimage {
  height: 100%;
  width: 100%;
  background-image: url("./images/Vector.png");
  background-size: cover;
  background-position: center;
}
.mainimage2 {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  color: white;
}

.logo {
  height: 30px;
}

.nav-text {
  display: flex;
  gap: 20px;
}

.nav-text p {
  margin: 0;
  cursor: pointer;
}

.nav-name {
  font-size: 16px;
}

main {
  margin-top: 100px; /* Adjust for fixed header */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  position: relative;
  color: white;
  width: 100%;
  padding: 20px;
  z-index: 30;
}

.hero-text {
  max-width: 80%;
  margin: auto;
}

.hero-text h2 {
  font-size: 5rem;
  margin-bottom: 20px;
  row-gap: 20px;
  font-weight: 900;
  line-height: 126px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.learn-more {
  padding: 20px 30px;
  font-size: 1rem;
  font-size: larger;
  background: linear-gradient(
    315deg,
    #cd1013 1.19%,
    #ff0004 1.5%,
    #2500ff 94.46%
  );
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #ff1493; /* Adjust hover color */
}

.layer2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
.layer2-3 {
  position: absolute;
  left: 0;
  top: 9vw;
  z-index: 20;
}
.layer2-4 {
  position: absolute;
  right: 0;
  bottom: -17rem;
  z-index: 20;
}
.layer2-5 {
  position: absolute;
  left: 0;
  top: -79px;
  z-index: 20;
}
.layer2-6 {
  position: absolute;
  left: 0;
  bottom: -17rem;
  z-index: 10;
}
.layer2-7 {
  position: absolute;
  left: 50%;
  top: -60px;
  z-index: -1;
}

.sunimg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}
